<html>

  <head>
    <title>
      components
    </title>
  </head>

  <body bgcolor="#EEEEEE" link="#CC0000" alink="#FF3300" vlink="#000055">

    <h1 align = "center">
      components
    </h1>

    <hr>

    <p>
      <b>components</b>,
      a Python code which
      organizes contiguous cells of nonzero values into labeled components, for a
      1D, 2D, or 3D array.  This code has uses in image analysis
      and percolation simulation.
    </p>

    <h3 align = "center">
      Licensing:
    </h3>

    <p>
      The information on this web page is distributed under the MIT license.
    </p>

    <h3 align = "center">
      Languages:
    </h3>

    <p>
      <b>components</b> is available in
      <a href = "../../c_src/components/components.html">a C version</a> and
      <a href = "../../cpp_src/components/components.html">a C++ version</a> and
      <a href = "../../f77_src/components/components.html">a Fortran77 version</a> and
      <a href = "../../f_src/components/components.html">a Fortran90 version</a> and
      <a href = "../../m_src/components/components.html">a MATLAB version</a> and
      <a href = "../../octave_src/components/components.html">an Octave version</a> and
      <a href = "../../py_src/components/components.html">a Python version</a>.
    </p>

    <h3 align = "center">
      Related Data and Programs:
    </h3>

    <p>
      <a href = "../../py_src/bwlabel_test/bwlabel_test.html">
      bwlabel_test</a>,
      a Python code which
      calls scipy.ndimage.label(), which
      is given a matrix, and organizes the nonzero values into
      labeled components, using 4-way or 8-way connectivity.
    </p>

    <p>
      <a href ="../../py_src/percolation_simulation/percolation_simulation.html">
      percolation_simulation</a>,
      a Python code which
      simulates a percolation system.  A rectangular region is decomposed into
      a grid of MxN squares.  Each square may be porous or solid.  We are
      interested in a path of porous squares connecting the top and bottom, 
      or the left and right boundaries.  The original code was 
      written by Ian Cooper.
    </p>

    <h3 align = "center">
      Reference:
    </h3>

    <p>
      <ul>
        <li>
          Jonas Gomes, Luiz Velho,<br>
          Image Processing for Computer Graphics,<br>
          Springer, 1997,<br>
          ISBN: 0387948546,<br>
          LC: T385.G65.
        </li>
        <li>
          William Pratt,<br>
          Digital Image Processing,<br>
          Second Edition,<br>
          Wiley, 1991,<br>
          ISBN13: 978-0471857662,<br>
          LC: TA1632.P7.
        </li>
      </ul>
    </p>

    <h3 align = "center">
      Source Code:
    </h3>

    <p>
      <ul>
        <li>
          <a href = "components_test.m">components_test.m</a>,
          calls all the tests.
        </li>
        <li>
          <a href = "components_test.sh">components_test.sh</a>,
          runs all the tests.
        </li>
        <li>
          <a href = "components_test.txt">components_test.txt</a>,
          the output file.
        </li>
      </ul>
    </p>

    <p>
      <ul>
        <li>
          <a href = "indices.txt">indices.txt</a>,
          1099 3D indices used for the components_3d() test.
        </li>
      </ul>
    </p>

    <p>
      <ul>
        <li>
          <a href = "components_2d.png">components_2d.png</a>
        </li>
      </ul>
    </p>

    <hr>

    <i>
      Last revised on 17 July 2022.
    </i>

    <!-- John Burkardt -->

  </body>

  <!-- Initial HTML skeleton created by HTMLINDEX. -->

</html>
